.row
  .description(ng-bind-html='descriptionHtml(event)')

-# For MyEventsCtrl
.row.right(ng-show='myEvents && isCompletedTab()')
  .button(ng-file-select='upload($files, event)')
.row.right(ng-show='myEvents && isInProgressTab()')
  = link_to 'Завершити подію', 'javascript:void(0)', 'ng-click'=>'completeEvent(event)', class: 'button'
.row
  %button(ng-click='delete(event.id, $index)' type='button' ng-show='isMine()')
.row
  %button(ng-click='edit(event.id)' type='button' ng-show='isMine()')
-# ==============

.row(ng-show='event.tags.length')
  Теги:
  %span(ng-repeat='tag in event.tags')
    %a(href='/#/events?tag={{tag.name}}')
      {{tag.name}}
    &nbsp;
.row
  Дата: {{event.date}}
.row
  Час: {{event.time}}
.row
  .six.columns
    = link_to 'javascript:void(0)', 'ng-click' => 'up(event)' do
      = fa_icon 'thumbs-o-up 2x'
      {{event.likes}}
    = link_to 'javascript:void(0)', 'ng-click' => 'down(event)' do
      = fa_icon 'thumbs-o-down 2x'
      {{event.dislikes}}
    = link_to 'javascript:void(0)', 'ng-click' => 'openNewCommentModal()', 'ng-show' => 'userSignedIn()' do
      = fa_icon 'comment 2x'
      {{event.comments.length}}
  .six.columns.right(ng-show='userSignedIn() && !isCompletedTab()')
    = link_to 'Розраховуйте і на мене!', 'javascript:void(0)', 'ng-click' => 'subscribe(event)', 'ng-show' => '!subscribed(event)', class: 'button'
    = link_to 'У мене не виходе :(', 'javascript:void(0)', 'ng-click' => 'unsubscribe(event)', 'ng-show' => 'subscribed(event)', class: 'button'
.row
  .six.columns
    #show-event-map(style='height: 300px;')
  .six.columns.popup-gallery
    %a(ng-repeat='photo in event.photos' href='{{photo.origin}}')
      <img src='{{photo.thumb}}' />
.row.subscribers
  Subscribers
  %ul
    %li(ng-repeat='subscription in event.subscriptions')
      %img(src='{{subscription.user.avatar_url}}' title='{{subscription.user.name}}')
.row
  %ul.comments
    %li(ng-repeat='comment in event.comments')
      %ng-include(src="'#{asset_path('angular/comments/_comment.html.haml')}'")
