.row
  .description(ng-bind-html='descriptionHtml(event)')
.row
  Дата: {{event.date}}
.row
  .six.columns
    Час: {{event.time}}
  .six.columns.right
    = link_to 'javascript:void(0)', 'ng-click' => 'up(event)' do
      = fa_icon 'thumbs-o-up 2x'
      {{event.likes}}
    = link_to 'javascript:void(0)', 'ng-click' => 'down(event)' do
      = fa_icon 'thumbs-o-down 2x'
      {{event.dislikes}}
    = link_to 'javascript:void(0)', 'ng-click' => 'up(event)' do
      = fa_icon 'comment 2x'
      {{event.comments_count}}
.row
  .six.columns
    #show-event-map(style='height: 300px;')
  .six.columns
    Фото/Відео
