.row
  .description(ng-bind-html='descriptionHtml(event)')
.row(ng-show='event.tags.length')
  Теги:
  %span(ng-repeat='tag in event.tags')
    %a(href='/#/events?tag={{tag.name}}')
      {{tag.name}}
    &nbsp;
.row
  Дата: {{event.date}}
.row
  .six.columns
    Час: {{event.time}}
  .six.columns.right
    = link_to 'javascript:void(0)', 'ng-click' => 'up(event)' do
      = fa_icon 'thumbs-o-up 2x'
      {{event.likes}}
    = link_to 'javascript:void(0)', 'ng-click' => 'down(event)' do
      = fa_icon 'thumbs-o-down 2x'
      {{event.dislikes}}
    = link_to 'javascript:void(0)', 'ng-click' => 'openNewCommentModal()', 'ng-show' => 'userSignedIn()' do
      = fa_icon 'comment 2x'
      {{event.comments.length}}
.row
  .six.columns
    #show-event-map(style='height: 300px;')
  .six.columns
    Фото/Відео
.row
  %ul.comments
    %li(ng-repeat='comment in event.comments')
      %ng-include(src="'#{asset_path('angular/comments/_comment.html.haml')}'")
