.row(ng-show='navBar.showSignInButton')
  .five.columns
    = link_to 'Нова Пропозиція', '/#/events/new', class: 'button button-primary u-pull-right'
  .four.columns
    = link_to 'Активні', '#pending-events-list', showtab: '', 'ng-click' => "show('pending')", class: 'button button-primary u-pull-right'
  .three.columns.socials
    .u-pull-right
      = link_to '', 'ng-click' => 'loginWithFacebook()' do
        = fa_icon 'facebook 2x'
      = link_to '', 'ng-click' => 'loginWithVkontakte()' do
        = fa_icon 'vk 2x'
      = link_to '', 'ng-click' => 'loginWithOk()' do
        = fa_icon 'odnoklassniki 2x'
      %input{'type'=>'hidden', 'ng-model'=>'okAuthToken', 'id'=>'auth_token'}

.row(ng-show='!navBar.showSignInButton')
  = link_to 'Мої підписки', '/#/events/subscriptions'
  |
  = link_to 'Мої пропозиції', '/#/events/mine'
  |
  {{navBar.userName}}
  %img{src: "{{navBar.avatarUrl}}"}
  = link_to 'Вийти', '', 'ng-click' => 'logOut()'
