.row
  .five.columns
    = link_to 'Нова Пропозиція', '/#/events/new', class: 'button button-primary'
  .four.columns
    = link_to 'Активні', '#pending-events-list', showtab: '', 'ng-click' => "show('pending')", class: 'button button-primary'
  .three.columns.socials(ng-show='navBar.showSignInButton')
    = link_to '', 'ng-click' => 'loginWithFacebook()' do
      = fa_icon 'facebook 2x'
    = link_to '', 'ng-click' => 'loginWithVkontakte()' do
      = fa_icon 'vk 2x'
    = link_to '', 'ng-click' => 'loginWithOk()' do
      = fa_icon 'odnoklassniki 2x'
    %input{'type'=>'hidden', 'ng-model'=>'okAuthToken', 'id'=>'auth_token'}
  .three.columns.socials(ng-show='!navBar.showSignInButton')
    = link_to '', 'ng-click' => 'logOut()' do
      = fa_icon 'sign-out 2x'
