!!!
%html{"ng-app" => "BetterCherkasy"}
  %head
    %title BetterCherkasy
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .header
      .logo
        = image_tag 'logo.png'
      .nav-bar{"ng-controller" => "NavBarCtrl"}
        %ng-include(src="'#{asset_path('nav_bar.html')}'")
    %div{"ng-view" => ""}
